<!-- Salla DS · Checkbox · <s-checkbox> · 5 variants -->
<!-- Runtime: https://dashboard-ui-components.pages.dev (admin-ui.esm.js + styles.css) -->

<!-- variant: default -->
<s-checkbox label="Accept terms and conditions" desc="I agree to the terms and conditions" direction="col" feature="true" @valuechanged="ev=&gt;console.log(" value="" changed:",ev.detail)"="" class="s-checkbox"></s-checkbox>

<!-- variant: checked -->
<s-checkbox label="Accept terms and conditions" desc="I agree to the terms and conditions" checked="" direction="col" feature="true" @valuechanged="ev=&gt;console.log(" value="" changed:",ev.detail)"="" class="s-checkbox"></s-checkbox>

<!-- variant: indeterminate -->
<s-checkbox label="Accept terms and conditions" desc="I agree to the terms and conditions" indeterminate="" direction="col" feature="true" @valuechanged="ev=&gt;console.log(" value="" changed:",ev.detail)"="" class="s-checkbox"></s-checkbox>

<!-- variant: group-options -->
<s-checkbox items="[{&quot;id&quot;:0,&quot;value&quot;:&quot;option-1&quot;,&quot;label&quot;:&quot;Accept terms and conditions&quot;, &quot;checked&quot;: true},{&quot;id&quot;:1,&quot;value&quot;:&quot;option-2&quot;,&quot;label&quot;:&quot;Accept terms and conditions&quot;, &quot;feature&quot;: false, &quot;checked&quot;: true},{&quot;id&quot;:2,&quot;value&quot;:&quot;option-3&quot;,&quot;label&quot;:&quot;Accept terms and conditions&quot;,&quot;desc&quot;:&quot;I agree to the terms and conditions&quot;}]" label="Accept terms and conditions" desc="I agree to the terms and conditions" required="" direction="col" feature="true" @valuechanged="ev=&gt;console.log(" value="" changed:",ev.detail)"="" class="s-checkbox"></s-checkbox>

<!-- variant: disabled -->
<s-checkbox label="Accept terms and conditions" desc="I agree to the terms and conditions" disabled="" direction="col" feature="true" @valuechanged="ev=&gt;console.log(" value="" changed:",ev.detail)"="" class="s-checkbox"></s-checkbox>
