<!-- Salla DS · Input · <s-input> · 5 variants -->
<!-- Runtime: https://dashboard-ui-components.pages.dev (admin-ui.esm.js + styles.css) -->

<!-- variant: default -->
<s-input id="" name="" value="Default input value" type="text" placeholder="Enter your text here..." size="md" text-alignment="start" wide="" class="w-full md">
<s-icon slot="start" icon="hgi-stroke hgi-text"></s-icon>
</s-input>

<!-- variant: has-preview -->
<s-input id="" name="" value="Default input value" type="text" placeholder="Enter your text here..." size="md" text-alignment="start" has-preview="" wide="" class="w-full has-preview md">
<s-icon slot="start" icon="hgi-stroke hgi-text"></s-icon>
</s-input>

<!-- variant: large-size -->
<s-input id="" name="" value="Default input value" type="text" placeholder="Enter your text here..." size="lg" text-alignment="start" wide="" class="w-full lg">
<s-icon slot="start" icon="hgi-stroke hgi-text"></s-icon>
</s-input>

<!-- variant: text-alignment-center -->
<s-input id="" name="" value="Default input value" type="text" placeholder="Enter your text here..." size="md" text-alignment="center" wide="" class="w-full md">
<s-icon slot="start" icon="hgi-stroke hgi-text"></s-icon>
</s-input>

<!-- variant: disabled -->
<s-input id="" name="" value="Default input value" type="text" placeholder="Enter your text here..." size="md" text-alignment="start" disabled="" wide="" class="w-full disabled md">
<s-icon slot="start" icon="hgi-stroke hgi-text"></s-icon>
</s-input>
