<!-- Salla DS · Placeholder · <s-placeholder> · 3 variants -->
<!-- Runtime: https://dashboard-ui-components.pages.dev (admin-ui.esm.js + styles.css) -->

<!-- variant: default -->
<s-placeholder label="Add a template to customize the export with only the information you need!" desc="You can select specific details such as name, price, and more…" size="md" class="s-placeholder md">
<div slot="icon">
<s-icon icon="hgi-stroke hgi-package-open" size="4rem"></s-icon>
</div>
<div slot="actions">
<s-button outlined="" class="s-btn s-btn--default default md outlined" theme="default">Upgrade now</s-button>
<s-button theme="transparent" no-padding="true" class="text-primary underline s-btn s-btn--transparent default md">learn more</s-button>
</div>
</s-placeholder>

<!-- variant: small -->
<s-placeholder label="Add a template to customize the export with only the information you need!" desc="You can select specific details such as name, price, and more…" size="sm" class="s-placeholder sm">
<div slot="icon">
<s-icon icon="hgi-stroke hgi-package-open" size="4rem"></s-icon>
</div>
<div slot="actions">
<s-button outlined="" class="s-btn s-btn--default default md outlined" theme="default">Upgrade now</s-button>
<s-button theme="transparent" no-padding="true" class="text-primary underline s-btn s-btn--transparent default md">learn more</s-button>
</div>
</s-placeholder>

<!-- variant: large -->
<s-placeholder label="Add a template to customize the export with only the information you need!" desc="You can select specific details such as name, price, and more…" size="lg" class="s-placeholder lg">
<div slot="icon">
<s-icon icon="hgi-stroke hgi-package-open" size="4rem"></s-icon>
</div>
<div slot="actions">
<s-button outlined="" class="s-btn s-btn--default default md outlined" theme="default">Upgrade now</s-button>
<s-button theme="transparent" no-padding="true" class="text-primary underline s-btn s-btn--transparent default md">learn more</s-button>
</div>
</s-placeholder>
