<!-- Salla DS · Radio · <s-radio> · 5 variants -->
<!-- Runtime: https://dashboard-ui-components.pages.dev (admin-ui.esm.js + styles.css) -->

<!-- variant: default -->
<s-radio label="Select your preferred option" desc="Choose one option from the list below" layout="default" direction="col" class="s-radio s-radio--default"></s-radio>

<!-- variant: checked -->
<s-radio label="Select your preferred option" desc="Choose one option from the list below" layout="default" direction="col" checked="" class="s-radio s-radio--default"></s-radio>

<!-- variant: group-options -->
<s-radio items="[{&quot;id&quot;:0,&quot;value&quot;:&quot;option-1&quot;,&quot;label&quot;:&quot;Option 1&quot;, &quot;checked&quot;: true, &quot;feature&quot;: false},{&quot;id&quot;:1,&quot;value&quot;:&quot;option-2&quot;,&quot;label&quot;:&quot;Option 2&quot;, &quot;checked&quot;: false},{&quot;id&quot;:2,&quot;value&quot;:&quot;option-3&quot;,&quot;label&quot;:&quot;Option 3&quot;,&quot;desc&quot;:&quot;Description for Option 3&quot;}]" label="Select your preferred option" desc="Choose one option from the list below" required="" layout="default" direction="col" class="s-radio s-radio--default group"></s-radio>

<!-- variant: row-direction -->
<s-radio items="[{&quot;id&quot;:0,&quot;value&quot;:&quot;option-1&quot;,&quot;label&quot;:&quot;Option 1&quot;, &quot;feature&quot;: false},{&quot;id&quot;:1,&quot;value&quot;:&quot;option-2&quot;,&quot;label&quot;:&quot;Option 2&quot;},{&quot;id&quot;:2,&quot;value&quot;:&quot;option-3&quot;,&quot;label&quot;:&quot;Option 3&quot;}]" label="Select your preferred option" desc="Choose one option from the list below" required="" layout="default" direction="row" class="s-radio s-radio--default group"></s-radio>

<!-- variant: disabled -->
<s-radio label="Select your preferred option" desc="Choose one option from the list below" layout="default" direction="col" disabled="" class="s-radio s-radio--default disabled"></s-radio>
